# Ignore dependencies

node_modules
npm-debug.log
yarn-error.log

# Ignore version control

.git
.gitignore

# Ignore editor and OS-specific files

.DS_Store
.vscode

# Ignore test and screenshot folders if not needed in container

screenshot

# Ignore config files not needed in the image

.prettierrc
.prettierignore
.env
